@import "syntax-variables";
@import "ui-variables";

kite-atom-install {
  display: block;
  margin: 0 auto;
  overflow: auto;
  max-width: 550px;
  min-width: 310px;
  width: 85%;

  input[type=email], input[type=password] {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .content {
    padding: 1.5rem 2rem;
  }

  .status {
    color: @text-color-error;
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
  }

  .logo {
    text-align: center;
    padding: 2rem 0;

    svg {
      width: 96px;
      height: auto;
      path, polygon {
        fill: @text-color;
      }
    }
  }

  .hidden {
    display: none;
  }

  .disabled {
    pointer-events: none;

    .ingore-disabled {
      pointer-events: auto;
    }
  }

  .secondary-cta {
    padding: 1rem 0.2rem;
    float: right;
    color: @text-color;
    font-size: 1.1rem;

    &:hover {
      text-decoration: none;
    }
  }
}
