@import "syntax-variables";
@import "ui-variables";

// Using the git-diff colors so they are visible on your syntax theme.
@red-color: @syntax-color-removed;
@green-color: @syntax-color-added;
@blue-color: @syntax-color-renamed;

@cta-green: @green-color;
@cta-green-deactivated: fade(@cta-green, 0.25);
@cta-blue: @blue-color;
@cta-blue-deactivated: fade(@cta-blue, 0.25);

@border-radius: 0.3rem;

@progress-bar-height: 2.75rem;

@small-logo: url('atom://kite/node_modules/kite-installer/styles/smalllogo.png');
@install-step-screenshot: url('atom://kite/node_modules/kite-installer/styles/screenshot.png');
@description-screenshot: url('atom://kite/node_modules/kite-installer/styles/plotscreenshot.png');
@show-kite-logo: url('atom://kite/node_modules/kite-installer/styles/logo.png');
